/* ===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(34,193,195);
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #582965;
    border-radius: 10px;
    border: 3px solid rgb(34,193,195);
  }